{% extends "base.html" %}

{% block html_lang %}{{article.lang}}{% endblock %}

{% block title %}{{SITENAME}} — {{article.title|striptags}}{% endblock %}

{% block extra_head %}
    {% import 'translations.j2' as translations with context %}
    {{translations.entry_hreflang(article)}}

    {% if article.summary %}
        <meta name="description" content="{{article.summary|striptags|escape}}"/>
    {% elif article.description %}
        <meta name="description" content="{{article.description|escape}}"/>
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag|escape}}"/>
    {% endfor %}

    {% for author in article.authors %}
        <meta name="author" content="{{author|escape}}"/>
    {% endfor %}

    {% if article.tags %}
        <meta name="keywords" content="{{article.tags|join(',')|escape}}"/>
    {% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body">
    <article>
        <header>
            <h1>
                <a href="{{SITEURL}}/{{article.url}}" rel="bookmark"
                    title="Permalink to {{article.title|striptags}}">{{article.title}}</a>
            </h1>
            {% import 'translations.j2' as translations with context %}
            {{translations.translations_for(article)}}
        </header>
        <footer class="post-info">
            <table border="1">
                <tr>
                    <th>Posted:</th>
                    <td><time class="published" datetime="{{article.date.isoformat()}}" pubdate="1">{{article.locale_date}}</time></td>
                </tr>
                {% if article.modified %}
                <tr>
                    <th>Last Updated:</th>
                    <td><time class="modified" datetime="{{article.modified.isoformat()}}">{{article.locale_modified}}</time></td>
                </tr>
                {% endif %}
                {% if SHOW_AUTHOR and article.authors %}
                <tr>
                    <th>Author{% if article.authors|length > 1 %}s{% endif %}:</th>
                    <td>
                        {% for author in article.authors %}
                            {%- if LINK_AUTHOR -%}
                            <a class="url fn" href="{{SITEURL}}/{{author.url}}">{{author}}</a>
                            {%- else -%}
                            <span class="fn">{{author}}</span>
                            {%- endif -%}
                            {% if not loop.last %}; {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endif %}
                {% if article.category %}
                <tr>
                    <th>Category:</th>
                    <td><a href="{{SITEURL}}/{{article.category.url}}">{{article.category}}</a></td>
                </tr>
                {% endif %}
                <tr>
                    <th>Tags:</th>
                    <td>
                        {% if article.tags %}
                            {% for tag in article.tags %}<a href="{{SITEURL}}/{{tag.url}}">{{tag}}</a>{{', ' if not loop.last}}{% endfor %}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                </tr>
                {% if GITHUB_SOURCE_URL %}
                <tr>
                    <th>Page Source:</th>
                    <td><a href="{{GITHUB_SOURCE_URL}}/blob/master/{{PATH_IN_REPO}}/{{article.relative_source_path}}">[link]</a></td>
                </tr>
                {% endif %}
            </table>
        </footer><!-- /.post-info -->
        <div class="entry-content">
            {{article.content}}
        </div><!-- /.entry-content -->
    </article>
</section>
{% endblock %}
