{% extends "base.html" %}

{% block title %}
{{SITENAME}}{% if SITESUBTITLE %}: {{SITESUBTITLE}}{% endif %}
{% endblock %}

{% block content %}
<section id="content">
    {% block content_title %}
    {% endblock %}

    {% block article_list %}
    {% from 'macros.j2' import list_articles with context %}
    {{list_articles(articles_page.object_list)}}
    {% if articles_page.has_other_pages() %}
        <div class="pagination">
            {% if articles_page.has_previous() %}
                <a href="{{SITEURL}}/{{articles_previous_page.url}}">&#x25C0;</a>
            {% endif %}
            {%- for num in articles_page.number|iter_pages(articles_paginator.num_pages) %}
                {% if num %}
                    {% if num != pagination.page %}
                        <a href="{{SITEURL}}/{{articles_paginator.page(num).url}}">{{num}}</a>
                    {% else %}
                        <strong>{{num}}</strong>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">…</span>
                {% endif %}
            {%- endfor %}
            {% if articles_page.has_next() %}
                <a href="{{SITEURL}}/{{articles_next_page.url}}">&#x25B6;</a>
            {% endif %}
        </div>
    {% endif %}
    {% endblock article_list %}
</section><!-- /#content -->
{% endblock content %}
