{% macro list_articles(article_list) %}
    <ol id="post-list">
        {% for article in article_list %}
        <li><article class="hentry">
            <header><h2 class="entry-title"><a href="{{SITEURL}}/{{article.url}}" rel="bookmark" title="Permalink to {{article.title|striptags}}">{{article.title}}</a></h2></header>
            <footer class="post-info">
                <time class="published" datetime="{{article.date.isoformat()}}">{{article.locale_date}}</time>
            </footer><!-- /.post-info -->
            <div class="entry-content">{{article.summary}}</div>
        </article></li>
        {% endfor %}
    </ol><!-- /#posts-list -->
{% endmacro %}
