{% macro list_articles(article_list) %}
    <ol id="post-list">
        {% for article in article_list %}
        <li><article class="hentry">
            <header><h2 class="entry-title"><a href="{{SITEURL}}/{{article.url}}" rel="bookmark" title="Permalink to {{article.title|striptags}}">{{article.title}}</a></h2></header>
            <footer class="post-info">
                <time class="published" datetime="{{article.date.isoformat()}}">{{article.locale_date}}</time>
                {% if SHOW_AUTHOR_IN_LISTINGS %}
                <address class="vcard author">By
                    {% for author in article.authors %}
                        {% if LINK_AUTHOR %}
                        <a class="url fn" href="{{SITEURL}}/{{author.url}}">{{author}}</a>
                        {% else %}
                        <span class="fn">{{author}}</span>
                        {% endif %}
                    {% endfor %}
                </address>
                {% endif %}
            </footer><!-- /.post-info -->
            <div class="entry-content">{{article.summary}}</div>
        </article></li>
        {% endfor %}
    </ol><!-- /#posts-list -->
{% endmacro %}
