{% extends "base.html" %}
{% block html_lang %}{{page.lang|escape}}{% endblock %}

{% block title %}{{SITENAME|escape}} — {{page.title|striptags|escape}}{%endblock%}

{% block extra_head %}
    {% import 'translations.j2' as translations with context %}
    {{translations.entry_hreflang(page)}}
{% endblock %}

{% block content %}
    <h1>{{page.title|safe}}</h1>
    {% import 'translations.j2' as translations with context %}
    {{translations.translations_for(page)}}

    {{page.content|safe}}

    {% if page.modified %}
        <p>Last updated: {{page.locale_modified|escape}}</p>
    {% endif %}
{% endblock %}
