/* From html4css1.css, part of Docutils
 *
 * html4css1.css license:
 *
 * :Author: David Goodger (goodger@python.org)
 * :Id: $Id: html4css1.css 7952 2016-07-26 18:15:59Z milde $
 * :Copyright: This stylesheet has been placed in the public domain.
 */

/* Messes with admonitions; how useful is this?  -- jwodder
.first {
    margin-top: 0 ! important;
}
*/

.last,
.with-subtitle {
    margin-bottom: 0 ! important;
}

.hidden {
    display: none;
}

a.toc-backref {
    text-decoration: none;
    color: black;
}

blockquote.epigraph {
    margin: 2em 5em;
}

div.compound .compound-first,
div.compound .compound-middle {
    margin-bottom: 0.5em;
}

div.compound .compound-last,
div.compound .compound-middle {
    margin-top: 0.5em;
}

div.figure {
    margin-left: 2em;
    margin-right: 2em;
}

div.line-block {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.line-block div.line-block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

div.sidebar p.rubric {
    /*font-family: sans-serif; */
    font-size: medium;
}

h1.section-subtitle,
h2.section-subtitle,
h3.section-subtitle,
h4.section-subtitle,
h5.section-subtitle,
h6.section-subtitle {
    margin-top: 0.4em;
}

span.section-subtitle {
    /* font-size relative to parent (h1..h6 element) */
    font-size: 80%;
}

p.attribution {
    text-align: right;
    margin-left: 50%;
}

p.caption {
    font-style: italic;
}

p.label {
    white-space: nowrap;
}

p.rubric {
    font-weight: bold;
    font-size: larger;
    /*color: maroon; */
    /*text-align:center; */
}

pre.literal-block, pre.doctest-block, pre.math, pre.code {
    margin-left: 2em ;
    margin-right: 2em;
}

span.option {
    white-space: nowrap;
}

span.pre {
    white-space: pre;
}

/* -- Alignments ------------------------------------------------------------ */

img.align-left,
.figure.align-left,
object.align-left,
table.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right,
.figure.align-right,
object.align-right,
table.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center,
.figure.align-center,
object.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.align-center {
    margin-left: auto;
    margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    clear: both;
    text-align: center;
}

.align-right {
    text-align: right;
}

/* reset inner alignment in figures */
div.align-right {
    text-align: inherit;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

/* -- Table styles ---------------------------------------------------------- */

/* used to remove borders from tables and images */
.borderless,
table.borderless tr,
table.borderless td,
table.borderless th {
    border: 0;
}

table.borderless td,
table.borderless th {
    /* Override padding for "table.docutils td" with "! important".
       The right padding separates the table cells. */
    padding: 0 0.5em 0 0 ! important;
}

/* "booktabs" style (no vertical lines) */
table.docutils.booktabs {
    border: 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}

table.docutils.booktabs * {
    border: 0px;
}

table.docutils.booktabs th {
    border-bottom: thin solid;
    text-align: left;
}

/* -- Lists ----------------------------------------------------------------- */

dl.docutils dd {
    margin-bottom: 0.5em;
}

span.classifier {
    /*font-family: sans-serif;*/
    font-style: oblique;
}

span.classifier-delimiter {
    /*font-family: sans-serif;*/
    font-weight: bold;
}

ol.simple,
ul.simple {
    margin-bottom: 1em;
}

ol.arabic {
    list-style: decimal;
}

ol.loweralpha {
    list-style: lower-alpha;
}

ol.upperalpha {
    list-style: upper-alpha;
}

ol.lowerroman {
    list-style: lower-roman;
}

ol.upperroman {
    list-style: upper-roman;
}

ul.auto-toc {
    list-style-type: none;
}

/* -- Abstract & Dedication ------------------------------------------------- */

div.abstract {
    margin: 2em 5em;
}

div.dedication {
    margin: 2em 5em;
    text-align: center;
    font-style: italic;
}

div.abstract p.topic-title,
div.dedication p.topic-title {
    font-weight: bold;
    text-align: center;
    font-style: normal;
}
