@import url('docutils.css');
@import url('admonitions.css');
@import url('blockquote.css');
@import url('headers.css');
@import url('kbd.css');
@import url('pygments.css');
@import url('sidebar.css');
@import url('table.css');
@import url('topic.css');

/* BabelStone Shapes v. 13.0.1 by BabelStone
 * <https://babelstone.co.uk/Fonts/Shapes.html>
 * Available under the SIL Open Font License 1.1
 */
@font-face {
    font-family: "BabelStone Shapes";
    src: local("BabelStone Shapes"),
         local("BabelStone-Shapes"),
         url(../fonts/BabelStoneShapes.woff2) format("woff2"),
         url(../fonts/BabelStoneShapes.woff) format("woff"),
         url(../fonts/BabelStoneShapes.ttf) format("ttf");
}

#topbar {
    border-bottom: 1px solid #eaecef;
    margin-top: 0;
    margin-bottom: 16px;
    padding-bottom: .3em;
}

.sitename {
    font-weight: bold;
    line-height: 1.25;
    font-size: 2em;
}

.sitename a {
    text-decoration: none;
    color: black;
}

.sitesubtitle {
    font-weight: bold;
    font-style: italic;
    font-size: 1.25em;
    margin-left: 1em;
}

#mainrow {
    display: block;
}

#navbar {
    float: left;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    width: 20%;
}

div.postfeeds {
    text-align: center;
}

div.subfeeds {
    margin: 1em 0;
}

#content {
    float: right;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    width: 76%;
}

#pagination {
    text-align: center;
    margin-top: 1em;
}

.paging-icon {
    font-family: BabelStone Shapes;
}

#footer {
    display: block;
    clear: both;
    text-align: center;
    font-size: smaller;
    padding-top: 1em;
}

hr {
    width: 66%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-width: 1px 0 0 0;
}

a {
    text-decoration: none;
}

pre {
    padding: 0.5em;
    overflow: auto;
}

/* If a multiparagraph footnote or citation is referenced multiple times in the
 * document, Docutils formats it as "<em>(1, 2, …)</em> <p>Text</p> …".
 * These styles force the `<em>` and first `<p>` to be right after each other
 * on the same line: */
.footnote td>p:first-of-type,
.citation td>p:first-of-type {
    display: inline;
}

h1 tt, h1 code,
h2 tt, h2 code,
h3 tt, h3 code,
h4 tt, h4 code,
h5 tt, h5 code,
h6 tt, h6 code {
    font-size: inherit;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
    background-color: transparent;
}
