@import url('admonitions.css');
@import url('kbd.css');
@import url('lists.css');
@import url('pygments.css');
@import url('sidebar.css');
@import url('table.css');
@import url('topic.css');

.last-updated {
    font-style: italic;
}

.topbar {
}

.container {
    display: block;
}

.navbar {
    float: left;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    width: 20%;
}

.content {
    float: right;
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    width: 76%;
}

footer#contentinfo {
    display: block;
    clear: both;
    text-align: center;
}

hr {
    width: 66%;
}

a {
    text-decoration: none;
}

pre {
    padding: 12px;
}

div.line-block {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.line-block div.line-block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

.rubric {
    font-weight: bold;
    font-size: larger;
}

.sidebar p.rubric {
    font-size: medium;
}
